body {
  margin: 0;
	background: #242423;
}

.box {
	height: 30px;
	width: 30px;
}

.box-red {
	background: #ff4d4d;
  margin: 0;
}

.box-blue {
	background: #738cff;
  margin-top: 0.01px;
}

.box-green {
	background: #46ff36;
  margin-top: 0.01px;
}

.box-orange {
	background: #ffaf24;
  margin: 0.01px;
}

